.text-nowrap {
    white-space: nowrap !important;
}

.searchinput {
    width: 200px;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.search-box::-ms-clear {
    display: none;
}

.search-box::-ms-clear {
    width: 0;
    height: 0;
}
button,
button:hover {
    background-color: green;
    color: yellow;
    border-radius: 8px;
}
// .text-alignRight {
//     text-align: right;
// }

td:nth-child(3){
    text-align: right;
}