/* You can add global styles to this file, and also import other style files */

html,
body,
#main {
    height: 100%;
}

.strip {
    height: 12px;
    width: 100%;
    display: block;
}

.strip-fixed {
    background-color: #666666;
}

#header-strip {
    /*  position: fixed; */
    top: 0;
}

.container {
    width: 100%;
}

.sitespecific {
    height: 6px;
    background-color: orange;
}

#footer-strip {
    position: fixed;
    bottom: 0;
    font-size: xx-small;
    color: white;
    text-align: right;
}


/** Named colors **/

.color-white {
    color: white;
}


/*** override the standard css for bootstrap **/

.navbar-default {
    background-color: transparent;
}

body {
    /*overflow: hidden;*/
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

#main {
    position: relative;
    height: calc(100% - 0);
    padding: 0 15px;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: 300px;
        border-right: 0;
    }
}

.footer {
    background-color: #ffffff;
    padding: 10px;
}