   .card {
       margin: 0 auto;
   }

   .searchclear {
       position: absolute;
       right: 5px;
       top: 0;
       bottom: 0;
       height: 14px;
       margin: auto;
       font-size: 14px;
       cursor: pointer;
       color: #ccc;
   }

   .search-box::-ms-clear {
       display: none;
   }

   .search-box::-ms-clear {
       width: 0;
       height: 0;
   }

   .uppercase {
       text-transform: uppercase;
   }

   .card-header {
       background-color: red;
       color: white;
   }

   .scrollable-table {
       display: block;
       max-height: 500px;
       overflow-y: scroll;
       overflow-x: auto;
       table {
           table-layout: fixed;
           td {
               overflow: hidden;
           }
           th {
               overflow: hidden;
           }
       }
   }

   .clear-filter {
       width: 100%;
       display: block;
       padding: 10px;
   }

   .clear-filter button {
       margin-bottom: 10px;
   }

   .left-align {
       text-align: left;
   }

   .right-align {
       text-align: right;
   }

   .center-align {
       text-align: center;
   }