<div class="card" [style.max-width.px]="innerWidth" [style.width.px]="autoComplete.width">
    <div class="card-header uppercase" *ngIf="autoComplete.isShow">
        <button (click)="hide()" class="btn btn-default btn-outline-default pull-right"
            style="background: transparent;padding: 0;width: 30px;">
            <span style="  color: #fff; font-size: 24px;" aria-hidden="true">x</span>
        </button>
        <h6>{{autoComplete.title}}</h6>
    </div>
    <div class="modal-body">
        <div id="table-responsive" *ngIf="autoComplete.isShow" class="table-responsive scrollable-table">
            <table class="table table-bordered table-striped table-hover"
                [mfData]="autoComplete.items| dataFilter :currentFilter: filterQuery:filterBycolumn" #mf="mfDataTable">
                <thead>
                    <tr>
                        <th [style.width.px]="item.width" class="hearder-margin"
                            [ngClass]="{'left-align':item.justification=='L', 'right-align': item.justification=='R','center-align':item.justification=='C'}"
                            *ngFor="let item of autoComplete.headers">
                            <mfDefaultSorter by="{{item.name}}">{{item.displayText}}</mfDefaultSorter>
                        </th>
                    </tr>
                    <tr>
                        <td [style.width.px]="th.width" class="rearchinputtd hearder-margin"
                            *ngFor="let th of autoComplete.headers;let h=index"
                            [ngClass]="{'left-align':th.justification=='L', 'right-align': th.justification=='R','center-align':th.justification=='C'}">
                            <div class="btn-group" [style.width.px]="th.width-25">
                                <input style="padding: 0.5rem .7rem;" type="text" placeholder="Filter"
                                    [(ngModel)]="th.text" (keyup)="headerChange(th.text,h)"
                                    class="form-control search-box">
                                <span (click)="clear(th)" *ngIf="th.text"
                                    class="searchclear glyphicon glyphicon-remove-circle form-control-feedback"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="mf.data.length>0">
                        <ng-container *ngFor="let item of mf.data|slice:0:200; let j=index" data-index="#j">
                            <tr style="width:100%;" (click)="setValue(item[autoComplete.headers[0].name])">
                                <td [style.width.px]="th.width" *ngFor="let th of autoComplete.headers; let i=index"
                                    data-index="#i"
                                    [ngClass]="{'left-align':th.justification=='L', 'right-align': th.justification=='R','center-align':th.justification=='C'}">
                                    <span class="uppercase" *ngIf="th.type=='D'">
                                        {{item[th.name] | date:'dd MMM yyyy'}}</span>
                                    <span *ngIf="th.type!='D'&&th.type!='N2'&&th.type!='N4'&&th.type!='N6'">
                                        {{item[th.name]}}</span>
                                    <span *ngIf="th.type=='N2'"> {{item[th.name]| number:'1.2-2'}}</span>
                                    <span *ngIf="th.type=='N4'"> {{item[th.name]| number:'1.4-4'}}</span>
                                    <span *ngIf="th.type=='N6'"> {{item[th.name]| number:'1.6-6'}}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="autoComplete.headers&&mf.data.length==0">
                        <tr style="width:100%;">
                            <td [attr.colspan]="autoComplete.headers.length">
                                <h3 style="text-align: center;">No Records Found</h3>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <!-- <tr *ngIf="autoComplete.headers">
                        <td [attr.colspan]="autoComplete.headers.length" style="padding:0px;">
                            <mfBootstrapPaginator [rowsOnPageSet]="rowSet"></mfBootstrapPaginator>
                        </td>
                    </tr> -->
                </tfoot>
            </table>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide('Close click')">Close</button>
    </div> -->
</div>