<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf="searchOptions">
                <header-search [searchOptions]="searchOptions" (headerSearchUpdated)="handleFormSubmit($event)"></header-search>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Bom Detail</strong>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            Part Detail
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td class="heading-td">
                                        Part
                                    </td>
                                    <td colspan="5">
                                        {{partDetailModel.parT1_PART}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="heading-td">
                                        Description
                                    </td>
                                    <td colspan="5">
                                        {{partDetailModel.partdesc}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="heading-td">
                                        Cross Reference
                                    </td>
                                    <td colspan="5">
                                        {{partDetailModel.parT2_XREF}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="heading-td">
                                        Commodity
                                    </td>
                                    <td>
                                        {{partDetailModel.partcommodity}}
                                    </td>
                                    <td class="heading-td">
                                        Product Group
                                    </td>
                                    <td>
                                        {{partDetailModel.partproD_GROUP}}
                                    </td>
                                    <td class="heading-td">
                                        Sales Group
                                    </td>
                                    <td>
                                        {{partDetailModel.partsaleS_GROUP}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="heading-td">
                                        Source
                                    </td>
                                    <td>
                                        {{partDetailModel.partstD_SOURCE}}
                                    </td>
                                    <td class="heading-td">
                                        Date Created
                                    </td>
                                    <td>
                                        {{partDetailModel.partdatE_CREATED}}
                                    </td>
                                    <td class="heading-td">
                                        Cost Center
                                    </td>
                                    <td>
                                        {{partDetailModel.partcosT_CENTRE}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="heading-td">
                                        Basic Unit
                                    </td>
                                    <td>
                                        {{partDetailModel.partbasiC_UNIT}}
                                    </td>
                                    <td class="heading-td">
                                        Issue Unit
                                    </td>
                                    <td>
                                        {{partDetailModel.partisS_UNIT}}
                                    </td>
                                    <td class="heading-td">
                                        Receipt Unit
                                    </td>
                                    <td>
                                        {{partDetailModel.partreC_UNIT}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="heading-td">
                                        Salesman
                                    </td>
                                    <td>
                                        {{partDetailModel.partsalesman}}
                                    </td>
                                    <td class="heading-td">
                                        Planner
                                    </td>
                                    <td>
                                        {{partDetailModel.partplanner}}
                                    </td>
                                    <td class="heading-td">
                                        Buyer
                                    </td>
                                    <td>
                                        {{partDetailModel.partbuyer}}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="heading-td">
                                        Default Supp
                                    </td>
                                    <td>
                                        {{partDetailModel.partdeF_SUPPLIER}}
                                    </td>
                                    <td class="heading-td">
                                        Effictive Date
                                    </td>
                                    <td>
                                    </td>
                                    <td class="heading-td">
                                        Rev
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12">
                            Single Level BOM
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td class="heading-td">
                                        Part
                                    </td>
                                    <td class="heading-td">
                                        Rev
                                    </td>
                                    <td class="heading-td">
                                        Description
                                    </td>
                                    <td class="heading-td">
                                        Src
                                    </td>
                                    <td class="heading-td">
                                        Supp'r
                                    </td>
                                    <td class="heading-td">
                                        Usage
                                    </td>
                                    <td class="heading-td">
                                        UOM
                                    </td>
                                    <td class="heading-td">
                                        Stock
                                    </td>
                                    <td class="heading-td">
                                        Allocation
                                    </td>
                                    <td class="heading-td">
                                        Orrdera
                                    </td>
                                </tr>

                                <tr>
                                    <td>{{singleLevelBomModel.comp1_PART}}</td>
                                    <td>{{singleLevelBomModel.wS_PRTC_REV}}</td>
                                    <td>{{singleLevelBomModel.compusage}}</td>
                                    <td>{{singleLevelBomModel.partalloC_COM}}</td>
                                    <td>{{singleLevelBomModel.partalloC_FIRM}}</td>
                                    <td>{{singleLevelBomModel.partalloC_SAL}}</td>
                                    <td>{{singleLevelBomModel.partorD_UNCOM}}</td>
                                    <td>{{singleLevelBomModel.partorD_COM}}</td>
                                    <td>{{singleLevelBomModel.partorD_FIRM}}</td>
                                    <td>{{singleLevelBomModel.partorD_PUR}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12">
                            Operation Details
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td class="heading-td">
                                        Op No
                                    </td>
                                    <td class="heading-td">
                                        Work C
                                    </td>
                                    <td class="heading-td">
                                        Description
                                    </td>
                                    <td class="heading-td">
                                        Movie
                                    </td>
                                    <td class="heading-td">
                                        Set-up
                                    </td>
                                    <td class="heading-td">
                                        Process
                                    </td>
                                    <td class="heading-td">
                                        Postop
                                    </td>
                                    <td class="heading-td">
                                        Type
                                    </td>
                                    <td class="heading-td">
                                        Cost
                                    </td>
                                    <td class="heading-td">
                                        Cost El
                                    </td>
                                    <td class="heading-td">
                                        Days
                                    </td>
                                </tr>

                                <tr *ngFor="let item of bomOperationDetail">
                                    <td>{{item.mopr1_NO}}</td>
                                    <td>{{item.mopr2_WORK}}</td>
                                    <td>{{item.moprdesc}}</td>
                                    <td>{{item.moprmovE_HRS}}</td>
                                    <td>{{item.moprsetup}}</td>
                                    <td>{{item.moprproC_TIME}}</td>
                                    <td>{{item.moprpostoP_HRS}}</td>
                                    <td>{{item.moprtype}}</td>
                                    <td>{{item.moprcost}}</td>
                                    <td>{{item.moprtimes_IND}}</td>
                                    <td>{{item.moprdays}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>