<div class="container">
    <div *ngIf="searchOptions">
        <header-search [searchOptions]="searchOptions" [selcetionValue]="selcetedValue" [autoComplete]="autoCompleteValue" (headerSearchUpdated)="handleFormSubmit($event)"></header-search>
    </div>
    <div class="tab-container">
        <ul class="nav nav-tabs" role="tablist">
            <li *ngFor="let item of tabList" class="nav-item">
                <a (click)="getData(item.link)" routerLink="/extranet/partsearchdetail/{{partNumber}}/{{item.link}}" routerLinkActive="active"
                    role="presentation" class="nav-link" aria-controls="home" role="tab" data-toggle="tab">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>