<div class="panel panel-primary">
  <div class="panel-heading">
    User List
    <div class="pull-right">
      <button class="btn btn-primary padding-none" [routerLink]="['/superAdmin','user']">Add User</button>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Roles</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>{{item.user.email}}</td>
          <td>
            <span *ngFor="let item of item.userRoles">{{item}} &nbsp;</span>
          </td>
          <td>
            <button [routerLink]="['/superAdmin','user',item.user.id]" class="btn btn-primary btn-sm">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
