<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <div class="paddingright0" style="float: left; margin-right: 20px">
          <strong>Search Results</strong>
        </div>
        <div *ngIf="searchResultHeader.length>0" style="width: 60%">
          <div class="paddingright0">
            <em>Filters:</em>
            <ng-container *ngFor="let item of searchResultHeader">
              <strong>{{item.label}} :</strong> &nbsp;{{item.value}}
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-4">
        <button (click)="clearFilter()" class="btn btn-default pull-right">Clear Filter</button>
        <button (click)="additionalFilter(mf.data[0])" *ngIf="panelhearder.length"
          class="btn btn-default pull-right">Additional Filters</button>
        <button (click)="exportToExcel()" class="btn btn-default pull-right">Export to Excel</button>
      </div>
    </div>
    <!-- <button *ngIf="!data" (click)="linkDetail()" class="btn btn-default pull-right">Back</button> -->
  </div>

  <div class="card-block">
    <div class="table-block">
      <div id="table-responsive" [style.max-width.px]="innerWidth" class="table-responsive">
        <table class="table table-bordered table-striped table-hover"
          [mfData]="data| dataFilter :currentFilter: filterQuery:filterBycolumn|dataPanelFilter:currentPanelFilter:filterQuery:filterBycolumn"
          #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <ng-container *ngFor="let item of header;let headerIndex=index;">
                <th class="hearder-margin" *ngIf="item.isDisplay"
                  [ngClass]="{'left-align':item.justification=='L', 'right-align': item.justification=='R','center-align':item.justification=='C'}"
                  (click)="sortClicked()" [style.width.%]="item.width">
                  <mfDefaultSorter by="{{item.name}}">{{item.displayText}}</mfDefaultSorter>
                </th>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngFor="let th of header;let headerIndex=index;">
                <td class="rearchinputtd hearder-margin" *ngIf="th.isDisplay" [style.width.%]="th.width"
                  [ngClass]="{'left-align':th.justification=='L', 'right-align': th.justification=='R','center-align':th.justification=='C'}">
                  <div class="btn-group" [style.width.px]="getWidth(th.width)">
                    <input style="padding: 0.5rem .7rem;" type="text" placeholder="Filter" [(ngModel)]="th.text"
                      (keyup)="headerChange(th.text)" class="form-control search-box">
                    <span (click)="clear(th)" *ngIf="th.text"
                      class="searchclear glyphicon glyphicon-remove-circle form-control-feedback"></span>
                  </div>
                </td>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="mf.data.length>0">
              <ng-container *ngFor="let item of mf.data; let j=index" data-index="#j">
                <tr style="width:100%;">
                  <ng-container *ngFor="let th of header; let i=index">
                    <td data-index="#i" *ngIf="th.isDisplay"
                      [ngClass]="{'left-align':th.justification=='L', 'right-align': th.justification=='R','center-align':th.justification=='C'}"
                      [style.width.%]="th.width">
                      <span *ngIf="panel!=0">
                        <i (click)="onClickRow(item,j)" *ngIf="i==0 && currentIndex != j"
                          class="glyphicon glyphicon-chevron-right"></i>
                        <i (click)="onClickRow(item,j)" *ngIf="i==0 && currentIndex == j"
                          class="glyphicon glyphicon-chevron-down"></i>
                      </span>
                      <ng-container *ngIf="th.isLink;else wihoutLinkother_content">
                        <a (click)="linkDetail(th.link,item.link,th.displayText,item,item[th.name])"
                          class="text-underscore">
                          <app-gerneric-col-display [item]="item" [header]="header" [th]="th" [index]="i">
                          </app-gerneric-col-display>
                        </a>
                      </ng-container>
                      <ng-template #wihoutLinkother_content>
                        <app-gerneric-col-display [item]="item" [header]="header" [th]="th" [index]="i">
                        </app-gerneric-col-display>
                      </ng-template>
                    </td>
                  </ng-container>
                </tr>
                <tr *ngIf="currentIndex == j" style="width:100%;">
                  <td [attr.colspan]="header.length" class="padding0 panel-leftpadding10">
                    <div *ngIf="title" [style.width.px]="widthForPanel" class="row" style="margin-left: 0%;">
                      <div [style.width.%]="tableWidth" class="card-header">
                        <b> {{title}}</b>
                      </div>
                    </div>
                    <div class="row" [style.width.px]="widthForPanel" style="margin-left: 0%;">
                      <ng-container *ngFor="let headers of hearderList;let h=index" data-index="#h">
                        <table [style.width.%]="33" class="table table-hover pannel-table">
                          <tr *ngFor="let header of headers;">
                            <td class="width-33"
                              [ngClass]="{'blankColumn': (!header.isDisplay),'heading-td':header.isDisplay ,'white-color':!header.isDisplay}">
                              <span *ngIf="header.isDisplay">{{ header.displayText}}</span>
                              <span *ngIf="!header.isDisplay"> &nbsp;</span>
                            </td>
                            <td class="data-td td-width-67 white-color"
                              [ngClass]="{'left-align':header.justification=='L', 'right-align': header.justification=='R','center-align':header.justification=='C','blankColumn':(!header.isDisplay) }">
                              <span class="uppercase" *ngIf="header.type=='D'">
                                {{item.paneldata[header.name] | date:'dd MMM yyyy'}}
                              </span>
                              <span *ngIf="header.type!='D'"> {{item.paneldata[header.name]}}</span>
                            </td>
                          </tr>
                        </table>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="header&&mf.data.length==0">
              <tr style="width:100%;">
                <td [attr.colspan]="header.length">
                  <h3 style="text-align: center;">No Records Found</h3>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr *ngIf="header">
              <td [attr.colspan]="header.length" style="padding:0px;">
                <mfBootstrapPaginator [rowsOnPageSet]="rowSet"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>