<ng-container *ngIf="item">
  <span class="uppercase" *ngIf="th.type=='D'">
    <span *ngIf="!th.isIcon">
      <ng-container *ngTemplateOutlet="D"></ng-container>
    </span>
    <span *ngIf="th.isIcon&&(th.icon.FromColumn-1)!=index">
      <ng-container *ngTemplateOutlet="D"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="displayIcon"></ng-container>
  </span>
  <span *ngIf="th.type!='D'&&th.type!='N2'&&th.type!='N4'&&th.type!='N6'">
    <span *ngIf="!th.isIcon">
      <ng-container *ngTemplateOutlet="notD"></ng-container>
    </span>
    <span *ngIf="th.isIcon&&(th.icon.FromColumn-1)!=index">
      <ng-container *ngTemplateOutlet="notD"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="displayIcon"></ng-container>

  </span>
  <!-- <span *ngIf="th.type=='N0'"> {{item[th.name]| number}}</span> -->
  <span *ngIf="th.type=='N2'">
    <span *ngIf="!th.isIcon">
      <ng-container *ngTemplateOutlet="N2"></ng-container>
    </span>
    <span *ngIf="th.isIcon&&(th.icon.FromColumn-1)!=index">
      <ng-container *ngTemplateOutlet="N2"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="displayIcon"></ng-container>

  </span>
  <span *ngIf="th.type=='N4'">
    <span *ngIf="!th.isIcon">
      <ng-container *ngTemplateOutlet="N4"></ng-container>
    </span>
    <span *ngIf="th.isIcon&&(th.icon.FromColumn-1)!=index">
      <ng-container *ngTemplateOutlet="N4"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="displayIcon"></ng-container>

  </span>
  <span *ngIf="th.type=='N6'">
    <span *ngIf="!th.isIcon">
      <ng-container *ngTemplateOutlet="N6"></ng-container>
    </span>
    <span *ngIf="th.isIcon&&(th.icon.FromColumn-1)!=index">
      <ng-container *ngTemplateOutlet="N6"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="displayIcon"></ng-container>
  </span>

  <ng-template #D>
    {{item[th.name] | date:'dd MMM yyyy'|uppercase}}
  </ng-template>
  <ng-template #notD>
    <span  [innerHtml]="item[th.name]"></span>
  </ng-template>
  <ng-template #N2>
    {{item[th.name]| number:'1.2-2'}}
  </ng-template>
  <ng-template #N4>
    {{item[th.name]| number:'1.4-4'}}
  </ng-template>
  <ng-template #N6>
    {{item[th.name]| number:'1.6-6'}}
  </ng-template>
  <ng-template #displayIcon>

    <img [ngStyle]="{'float':(th.isIcon&&(th.icon.FromColumn-1)==index)?'none':'right'}" style="margin-left:6px;"
      *ngIf="th.isIcon" src="assets/img/{{item[header[th.icon.FromColumn-1].name]}}.png" />
  </ng-template>
</ng-container>