.table th,
.table td {
    padding: 2px 0.75rem
}

tr.heading {
    background: #505152;
    color: #fff;
}

.expand-button {
    padding: 0px !important;
    margin-left: -10%;
}

.td-pading0 {
    padding: 0px !important;
    ;
}

.indent1 {
    margin-left: 3px;
}

.indent2 {
    margin-left: 6px;
}

.indent3 {
    margin-left: 9px;
}

.indent4 {
    margin-left: 12px;
}

.indent5 {
    margin-left: 15px;
}

.indent6 {
    margin-left: 18px;
}

.indent7 {
    margin-left: 21px;
}

.indent8 {
    margin-left: 24px;
}

.indent9 {
    margin-left: 27px;
}

.indent10 {
    margin-left: 30px;
}

.indent11 {
    margin-left: 33px;
}

.indent12 {
    margin-left: 36px;
}

.indent13 {
    margin-left: 39px;
}

.indent14 {
    margin-left: 42px;
}

.indent15 {
    margin-left: 45px;
}

.indent16 {
    margin-left: 48px;
}

.indent17 {
    margin-left: 51px;
}

.indent18 {
    margin-left: 54px;
}

.indent19 {
    margin-left: 57px;
}

.indent20 {
    margin-left: 60px;
}

.indent21 {
    margin-left: 63px;
}

.indent22 {
    margin-left: 66px;
}

.indent23 {
    margin-left: 69px;
}

.indent24 {
    margin-left: 72px;
}

.indent25 {
    margin-left: 75px;
}

.indent26 {
    margin-left: 78px;
}

.indent27 {
    margin-left: 81px;
}

.indent28 {
    margin-left: 84px;
}

.indent29 {
    margin-left: 87px;
}

.indent30 {
    margin-left: 90px;
}

.indent31 {
    margin-left: 93px;
}

.indent32 {
    margin-left: 96px;
}

.indent33 {
    margin-left: 99px;
}

.indent34 {
    margin-left: 102px;
}

.indent35 {
    margin-left: 105px;
}

.indent36 {
    margin-left: 108px;
}

.indent37 {
    margin-left: 111px;
}

.indent38 {
    margin-left: 114px;
}

.indent39 {
    margin-left: 117px;
}

.indent40 {
    margin-left: 120px;
}

.indent41 {
    margin-left: 123px;
}

.indent42 {
    margin-left: 126px;
}

.indent43 {
    margin-left: 129px;
}

.indent44 {
    margin-left: 132px;
}

.indent45 {
    margin-left: 135px;
}

.indent46 {
    margin-left: 138px;
}

.indent47 {
    margin-left: 141px;
}

.indent48 {
    margin-left: 144px;
}

.indent49 {
    margin-left: 147px;
}

.indent50 {
    margin-left: 150px;
}