<form [formGroup]="userForm" (ngSubmit)="submit()" novalidate class="form-horizontal">
  <div *ngIf="!isEdit">
    <div class="form-group">
      <label class="col-lg-3" for="roleName">Email</label>
      <div class="col-lg-9">
        <input type="email" formControlName="email" class="form-control" id="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3" for="description">Password</label>
      <div class="col-lg-9">
        <input type="password" formControlName="password" class="form-control" id="password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3" for="description">Confirm Password</label>
      <div class="col-lg-9">
        <input type="password" formControlName="confirmPassword" class="form-control" id="password">
      </div>
    </div>
  </div>
  <div *ngIf="isEdit&&user">
    <div class="form-group">
      <label class="col-lg-3" for="roleName">Email</label>
      <div class="col-lg-9">
        <label for="roleName">{{user.email}}</label>
      </div>
    </div>

  </div>
  <fieldset class="form-group">
    <legend align="left">Roles</legend>
    <div class="col-lg-9 col-lg-offset-3">
      <div class="checkbox" *ngFor="let role of roles">
        <label><input type="checkbox" [checked]="isRoleSelected(role)" (click)="toggleRoles(role)">{{role.name}}</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <legend align="left">Claims</legend>
    <div class="col-lg-9 col-lg-offset-3">
      <div class="checkbox" *ngFor="let claim of claims">
        <label><input type="checkbox" [checked]="isClaimSelected(claim.type)" (click)="toggleClaims(claim)">{{claim.type}}</label>
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <a (click)="back()" class="btn btn-default">Cancel</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
