<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img width="50px" height="50px" src="assets/images/logo.svg" alt="logo" /></a>
    </div>
    <ul class="nav nav-pills">
      <li routerLinkActive="active"><a routerLink="/dashboard">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li routerLinkActive="active"><a routerLink="/superAdmin">Super Admin</a></li>
      <li routerLinkActive="active" (click)="loginOrOut()"><a>{{ loginLogoutText }}</a></li>

      <!--<li [ngClass]="{active: selectedMenu==menu}" *ngFor="let menu of menus">
        <a (click)="selectMenu(menu)">{{menu.title}}</a>
      </li>-->
    </ul>
  </div>
</nav>
