.card {
    margin: 0 auto;
}



.searchclear {
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    float: right;
    margin-top: -25px;
}

.search-box::-ms-clear {
    display: none;
}

.search-box::-ms-clear {
    width: 0;
    height: 0;
}

.uppercase {
    text-transform: uppercase;
}

.card-header {
    background-color: red;
    color: white;
}

.scrollable-table {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;

    table {
        table-layout: fixed;

        td {
            overflow: hidden;
        }

        th {
            overflow: hidden;
        }
    }
}

.clear-filter {
    width: 100%;
    display: block;
    padding: 10px;
}

.clear-filter button {
    margin-bottom: 10px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.pannel-table {
    float: left;

    .form-control {
        padding: 6px;
    }
}

.heading-td {
    background: #505152;
    color: #fff;
}



.table th,
.table td {
    padding: 6px;
    height: 48px;
    max-height: 48px;
    // display: inline;
}

.tt {
    white-space: normal;
    width: 1% !important;
}