<table *ngIf="header" class="table table-bordered table-striped table-hover" [mfData]="data | dataFilter :currentFilter: filterQuery:filterBycolumn"
    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
        <tr>
            <th *ngFor="let item of header">
                <mfDefaultSorter by="{{item.name}}">{{item.displayText}}</mfDefaultSorter>
            </th>
        </tr>
        <tr *ngIf="isSearch">
            <td *ngFor="let th of header">
                <input type="text" [(ngModel)]="th.text" (keyup)="headerChange(th.text)" class="form-control">
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data">
            <td *ngFor="let th of header; let i = index" data-index="#i">
                <a (click)="partClick()" routerLink="/extranet/partsearchdetail/{{item[th.name]}}" *ngIf="i==0 &&islink">
                    {{item[th.name]}}</a>
                <span *ngIf="i==0&&!islink"> {{item[th.name]}}</span>
                <span *ngIf="i!=0"> {{item[th.name]}}</span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7" style="padding:0px;">
                <mfBootstrapPaginator [rowsOnPageSet]="[50,100,200]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>