body {
    font-family: "Arial";
}


#content {
    padding: 20px;
}

.container {
    width: 1270px;
}

.jumbotron {
    background-image: linear-gradient(to right,#319b42, #007D26, #006007, #004400);
    color: #fedd00;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

    .jumbotron h2 {
        color: #FEDD00;
    }

.logo {
    float: left;
    padding-right: 10px;
}
.loginInfo {
    position: absolute;
    top: 60px;
    right: 10px;
    color: #FEDD00;
}
.btn {
    min-width: 150px;
}

/*
a:link, a:visited{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: orange;
}
*/

#reportparams {
    display: inline;
}

.form-group {
    width: 200px;
    float: left;
}

.btn-group, .btn-group-vertical {
    vertical-align: top;
}

.padding5 {
    width: auto;
    padding: 5px;
}

/*  Panel & Button Formats for different Variants */
.nav-tabs > li > a {
    color: #319B42;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #319B42;
    cursor: default;
    background-color: #fedd00;
    border: 1px solid #319B42;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
    border-color: #319B42 #319B42 #fedd00;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fedd00;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #319B42;
    cursor: default;
    background-color: #fedd00;
    border: 1px solid #319B42;
    border-bottom-color: transparent;
}

.panel-mmd1 {
    border-color: #319b42;
    color: #fedd00;
}

    .panel-mmd1 .panel-body {
        color: #319b42;
    }

    .panel-mmd1 > .panel-heading {
        background-image: -webkit-linear-gradient(top,#319b42 0,#006007 100%);
        background-image: -o-linear-gradient(top,#319b42 0,#006007 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#319b42),to(#006007));
        background-image: linear-gradient(to right,#319b42 0,#006007 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff319b42', endColorstr='#ff006007', GradientType=0);
        background-repeat: repeat-x;
    }


.panel-mmd2 {
    border-color: #fedd00;
    color: #319b42;
}

    .panel-mmd2 .panel-body {
        color: #fedd00;
    }

    .panel-mmd2 > .panel-heading {
        background-image: -webkit-linear-gradient(left,#fedd00 0,#b9a100 100%);
        background-image: -o-linear-gradient(left,#fedd00 0,#b9a100 100%);
        background-image: linear-gradient(to right,#fedd00 0,#b9a100 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffedd00', endColorstr='#ffb9a100', GradientType=0);
        background-repeat: repeat-x;
    }
