<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                Work Orders
                <table class="table table-bordered" [mfData]="result" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr class="heading">
                            <th>
                                <mfDefaultSorter by="worD1_REF">Order</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worD2_CONTRACT">Div</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worD4_PLANNER">Planner</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordcomm">Comment</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wsstatusdesc">Status</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordinT_PRIORITY">In.Pr</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordexT_PRIORITY">Ex.Pr</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordpath">Path</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordcuR_WORK">Cur WC</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordcuR_OPER_NO">Cur Op</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worddatE_ENT">Dt Ent</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worddatE_REL">Dt Rel</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worddatE_START">Dt St</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worddatE_REQ">Dt Req</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="worddatE_COMP">Dt Comp</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordqtY_REQ">Reqd</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordqtY_SCRAP">Scrap</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="WSQTYOUTST">Comp</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="WSKITRECORDS">Outst</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!-- <tr *ngFor="let item of workOrders">
                        <td>{{item.worD1_REF}}</td>
                        <td>{{item.worD2_CONTRACT}}</td>
                        <td>{{item.worD4_PLANNER}}</td>
                        <td>{{item.wordcomm}}</td>
                        <td>{{item.wsstatusdesc}}</td>
                        <td>{{item.wordinT_PRIORITY}}</td>
                        <td>{{item.wordexT_PRIORITY}}</td>
                        <td>{{item.wordpath}}</td>
                        <td>{{item.wordcuR_WORK}}</td>
                        <td>{{item.wordcuR_OPER_NO}}</td>
                        <td>{{item.worddatE_ENT}}</td>
                        <td>{{item.worddatE_REL}}</td>
                        <td>{{item.worddatE_START}}</td>
                        <td>{{item.worddatE_REQ}}</td>
                        <td>{{item.worddatE_COMP}}</td>
                        <td>{{item.wordqtY_REQ}}</td>
                        <td>{{item.wordqtY_SCRAP}}</td>
                        <td>{{item.wordqtY_COMP}}</td>
                        <td>{{item.WSQTYOUTST}}</td>
                        <td>{{item.WSKITRECORDS}}</td>
                    </tr> -->
            </div>
        </div>
    </div>
</div>