.card-padding {
    padding: 10px 29px;
}

// .card-padding .card{    
//     box-shadow: 0 0, 0 0 1em;
// }
.button-margin-bottom {
    background: #dedada;
    padding: 10px;
    width: 30%;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group {
    margin: 8px 0 0 0 !important;
}

.form-control-container {
    display: block;
    width: 100%;
    padding: 0;
    height: 36px;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #607d8b;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;

    input {
        padding: 0.5rem;
        border: none;
        width: 100%;

        &::focus {
            border: none;
        }
    }
}

.no-clear::-ms-clear {
    display: none;
}

.dropdwon-custom {
    position: absolute;
    cursor: pointer;
    width: 46px;
    height: 34px;
    right: 11px;
    top: 0;
}

.dropdwon-custom::before {
    position: absolute;
    content: "\25BC";
    top: 8px;
    right: -8px;
    height: 30px;
    width: 36px;
    cursor: pointer;
}

.auto-complete-container {
    height: 300px;
    overflow: auto;
}

button,
button:hover {
    background-color: green;
    color: yellow;
    border-radius: 8px;
}

.card {
    min-height: 173px;
}

.paddingright0 {
    padding-right: 0px !important;
}

.margin-right1p {
    margin-right: 1%;
}

.margin-right2p {
    margin-right: 2%;
}


.generic {
    margin-left: 38%;
}

.card-header {
    background-color: red;
    color: white;
}

.less-padding {
    [class*="col-lg-"] {
        padding-left: 8px;
        padding-right: 8px;
    }
}

// input,

// select {
//   box-sizing: content-box;
//   width: 90%;
//   height: 23px;
//   padding: 10px;
//   font-size: 27px;
//   border-radius: 12px;
// }
select.form-control:not([size]):not([multiple]) {
    height: calc(2.09375rem + 4px);
}

.uppercase {
    text-transform: uppercase;
}

.date-row {
    margin-top: 6%
}

span {
    margin-top: 4%;
}

.perioddate {
    margin-left: 5%;
}

.genric-enquiry {
    [class*="col-"] {
        margin-top: 4px;
    }
}