<div class="card">
    <div class="card-block">
        <div class="row bom">
            <div class="col-md-12" id="bomdetail">

                <!-- <span class="pull-right" *ngIf="bomData">
                    <b>Total Mass {{total}}</b>
                </span> (click)="exportToExcel()"-->
                <div class="card-header">
                    <strong> BOM Details</strong>
                    <button class="btn btn-default pull-right" (click)="downloadPdf()">Export to Pdf</button>
                </div>
                <table class="table table-bordered table-striped table-hover" [mfData]="bomData | dataFilter :currentFilter: filterQuery:filterBycolumn" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <span class="pull-right" *ngIf="bomHeader">
                                    <b>Total Mass {{total}} kg</b>
                                </span>

                            </th>
                        </tr>
                        <tr>
                            <th *ngIf="bomHeader">
                                <mfDefaultSorter by="number">Item</mfDefaultSorter>
                            </th>
                            <th *ngFor="let item of bomHeader">
                                <mfDefaultSorter by="{{item.name}}">{{item.displayText}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data; let j = index" data-index="#j">
                            <td>{{item.number}}</td>
                            <td *ngFor="let th of bomHeader; let i = index" data-index="#i">
                                <a class="link" (click)="partDetailClick()" routerLink="/extranet/partsearchdetail/{{item[th.name]}}/bom" *ngIf="i==0">
                                    {{item[th.name]}}</a>
                                <span *ngIf="i!=0"> {{item[th.name]}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" style="padding:0px;">
                                <mfBootstrapPaginator [rowsOnPageSet]="[50,100,200]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">
                    <strong> Operations</strong>
                </div>
                <mmd-table [data]="operationsData" [header]="operationsHeader"></mmd-table>
            </div>
        </div>
    </div>
</div>