<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm)" class="login-form" novalidate>
                            <div class="card-block">
                                <div class="card-header" [hidden]="!userId">User : {{selectedUserName}}</div>
                                <h1>Reset Password</h1>
                                <div *ngIf="!userId">
                                    <div class="input-group mb-4">
                                        <span class="input-group-addon">
                                            <i class="icon-lock"></i>
                                        </span>
                                        <input type="password" required class="form-control" formControlName="oldPassword" placeholder="Current Password">
                                    </div>
                                    <div class="alert alert-danger" [hidden]="resetPasswordForm.controls.oldPassword.untouched || resetPasswordForm.controls.oldPassword.valid">
                                        Current Password is required
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" required class="form-control" formControlName="newPassword" placeholder="Password">
                                </div>
                                <div class="alert alert-danger" [hidden]="resetPasswordForm.controls.newPassword.untouched || resetPasswordForm.controls.newPassword.valid">
                                    Password is required
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    <input type="password" required class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <div class="alert alert-danger" [hidden]="resetPasswordForm.controls.confirmPassword.untouched || resetPasswordForm.controls.confirmPassword.valid">
                                    Confirm Password is required and Confirm Password should be equal to Password
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Reset Password </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-danger" *ngIf="error">
                                            <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{errorMessage}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>