<div class="container" *ngIf="selectedItem">
  <div class="row card-container">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of selectedItem.items">
      <div class="card">
        <div class="card-header">
          <a class="white" *ngIf="item.menuKey" [routerLink]="['/dashboard',selectedItem.menuKey,item.menuKey,'search']">
            {{item.title}}
          </a>
          <a class="white" *ngIf="!item.menuKey">
            {{item.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
