.text-nowrap {
    white-space: nowrap !important;
}

.searchinput {
    width: 200px;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.search-box::-ms-clear {
    display: none;
}

.search-box::-ms-clear {
    width: 0;
    height: 0;
}

.heading-td {
    background: #505152;
    color: #fff;
}

tr[_ngcontent-c1] {
    // line-height: 14px;
}

.hearder-margin {
    padding: 0.75rem !important;
}

.table th,
.table td {
    padding: .3%;
}

td.text-center {
    text-align: center !important;
}

.width25 {
    width: 25%;
}