<div class="card">

    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                Part Allocations
                <table class="table table-bordered" [mfData]="result" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr class="heading">
                            <th>
                                <mfDefaultSorter by="schD1_REF">Ref</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="schD1_REF_LINE">Line</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="schD6_CONTRACT">Job</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wordpart">Order Part</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="wswordpartdesc">Desc</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="schD1_DATE">Date</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="schdqtY_REQ">Req</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="schdqtY_ISS">Iss</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!-- <tr *ngFor="let item of data">
                        <td>{{item.schD1_REF}}</td>
                        <td>{{item.schD1_REF_LINE}}</td>
                        <td>{{item.schD6_CONTRACT}}</td>
                        <td>{{item.wordpart}}</td>
                        <td>{{item.wswordpartdesc}}</td>
                        <td>{{item.schD1_DATE}}</td>
                        <td>{{item.schdqtY_REQ}}</td>
                        <td>{{item.schdqtY_ISS}}</td>
                    </tr> -->
            </div>
        </div>
    </div>
</div>