<div class="input-group" style="width: 400px;">
    <input style="height: 33px;" (keyup)="partSearchFormSubmit($event);part.searchTo=part.searchFor;" type="text"
        [(ngModel)]="part.searchFor" required id="searchFor" name="searchFor" class="form-control"
        placeholder="SEARCH PARTS">
    <input style="height: 33px;" (keyup)="partSearchFormSubmit($event)" *ngIf="isPartRange" [(ngModel)]="part.searchTo"
        id="searchTo" name="searchTo" type="text" class="form-control" placeholder="SEARCH PARTS">
</div>
<label class="radio-inline">
    <input type="radio" (change)="partSearchByChange();partSearchFormSubmit(null);part.searchTo=part.searchFor;"
        [(ngModel)]="part.searchBy" [value]="'PARTLIST'" name="searchBy">by number

    <input type="radio" (change)="partSearchByChange();partSearchFormSubmit(null);part.searchTo='';"
        [(ngModel)]="part.searchBy" [value]="'PARTSEARCH'" name="searchBy">by description
    <input type="radio" (change)="partSearchByChange();partSearchFormSubmit(null);part.searchTo='';"
        [(ngModel)]="part.searchBy" [value]="'PARTNARRSEARCH'" name="searchBy"> By narrative
</label>