<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                Standard Cost History
                <table class="table table-bordered" [mfData]="result" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr class="heading">
                            <th>
                                <mfDefaultSorter by="ARRY1_REF_B">Part</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="ACCMNAME">Date</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="partstD_SOURCE">Time</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arrY1_DATE">Material</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arrydatE_IN">Labour</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="partdeF_SUPPLIER">Subcontract</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arrycurr">Build Up To UK SP</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arryperC_VALUE1">Spares</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arrybreaK_POINT2">Default</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="arrybreaK_POINT3">Total</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
                            <td class="heading-td">Part</td>
                            <td class="heading-td">Date</td>
                            <td class="heading-td">Time</td>
                            <td class="heading-td">Material</td>
                            <td class="heading-td">Labour</td>
                            <td class="heading-td">Subcontract</td>
                            <td class="heading-td">Build Up To UK SP</td>
                            <td class="heading-td">Spares</td>
                            <td class="heading-td">Default</td>
                            <td class="heading-td">Total</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>