<!-- <div *ngIf="loading" class="loader modal fade nat-loader in" id="ModalLoader" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" style="display: block; padding-right: 17px;">
    <div class="loader modal-dialog modal-sm">
        <div class="loader modal-content">
            <div class="loader modal-body">
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse fa-4x"></i>
                </div>
                <div id="DIVLoadingMessage" class="text-center mt10">Please Wait...</div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="loader modal-backdrop fade in"></div> -->
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
<ngx-spinner loadingText="{{setting.loadingText}}" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
    type="ball-scale-multiple">
</ngx-spinner>
<header>
    <div class="app-header-div">
        <span>Connected as &nbsp;&nbsp; &nbsp;&nbsp;|</span>
        <span dropdown placement="bottom left">
            <!-- <a class="userName" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
                (click)="false">
                | {{userName}} </a> -->
            <button style="background-color: #423b3b;color: yellow;height: 26px;margin-top: -12px;" dropdownToggle
                type="button" class="btn btn-default dropdown-toggle">
                {{userName}}
                <span class="caret"></span>
            </button>
            <div style=" margin-left: 9% !important;" class="dropdown-menu dropdown-menu-left" *dropdownMenu
                aria-labelledby="simple-dropdown">
                <div class="divider"></div>
                <a [hidden]="isGuestUser" class="dropdown-item text-underscore"
                    [routerLink]="['/extranet','resetPassword']">
                    <i class="fa fa-shield"></i> Reset Password</a>
                <a class="dropdown-item text-underscore" (click)="logOut()">
                    <i class="fa fa-lock"></i> Logout</a>
            </div>
        </span>

        <!-- <span class="log-out" style="cursor: pointer !important;" (click)="logOut()"> Logout</span> -->
    </div>
    <div class="app-header navbar borderColor" [ngStyle]="{'border-color': selectedColor}">
        <!-- <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button> -->
        <a style="background-image:url('assets/img/logo.svg');" class="navbar-brand"
            [routerLink]="['/extranet/dashboard']"></a>
        <!-- <a class="navbar-brand" [routerLink]="['/extranet/dashboard']"></a> -->

        <span class="current-page">
            <b class="mmd-ex">{{currentPage}}</b>
        </span>

        <div class="navbar-nav-scroll">
            <ul class="nav navbar-nav ml-auto">
                <select style="margin-bottom: 10px;" class="form-control" [(ngModel)]="selectedColorValue" #color
                    (change)="onCountryChange(selectedColorValue)">
                    <option [ngValue]="item" *ngFor="let item of searchOptions">{{item.value}}</option>
                </select>
                <li class="nav-item px-3" *ngFor="let menuItem of adminMenuItems">
                    <a class="nav-link" [routerLink]="[menuItem.path]">{{menuItem.name}}</a>
                </li>
                <li class="nav-item px-3" *ngFor="let menuItem of menuItems">
                    <a class="nav-link" [routerLink]="['../',menuItem.parent,menuItem.path]">{{menuItem.name}}</a>
                </li>
                <li *ngIf="isSuperAdmin()" class="nav-item px-3">
                    <a (click)="refreshGennyData()" class="nav-link refresh-link">Reload Config</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="app-body">
    <ng2-toasty [position]="'top-right'"></ng2-toasty>
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer borderColor" [ngStyle]="{'border-color': selectedColor}">
    <div class="row">
        <div class="col-md-3">
            <!-- <h6>Further Links</h6> -->
            <ul>
                <li>
                    <a href="http://sales.mmdgphc.com/framework/extranet/mtms_extranet/Specsheets/Machine_Specification_Sheet_Rev_12.xlsx"
                        target="blank">Machine Specsheet</a>
                </li>
                <li>
                    <a href="http://sales.mmdgphc.com/framework/extranet/mtms_extranet/Specsheets/MachineSpecificationAmendmentNotice.pdf"
                        target="blank">Machine Spec Amendment </a>
                </li>
                <li>
                    <a href="http://sales.mmdgphc.com/framework/extranet/mtms_extranet/Specsheets/MMD_Machine_Feeder_Specification_Sheet_Rev_5.xlsx"
                        target="blank">Feeder Specsheet</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <ul>
                <li *ngFor="let item of footerlinks">
                    <a href="{{item.value}}" target="blank">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <!-- <div class="col-md-3">
            <h6>Useful Information</h6>
        </div> -->
    </div>
</footer>
<div class="app-footer-div">
    <span class="pull-right">&copy; 2017 MMD GPHC Ltd.All Rights Reserved. Version {{applicationVersion}}</span>
</div>